extends layout

block content
  h1= title
  p Today's Weather
  form(method='GET' action='/weather')
          div.form-group
            label(for='city') City:
            input#city.form-control(type='text', placeholder='Ottawa' name='city')

            label(for='country') Country:
            input#country.form-control(type='text', placeholder='Canada' name='country')
            button.btn.btn-primary(type='submit') Get Weather