extends layout

block content
  h1= title
  p Today's Weather
  form(method='GET' action='/weather')
          div.form-group
            div#cityD
              label(for='city') City: <br />
              input#city.form-control(type='text', value='Ottawa' name='city')

            div#countryD
              label(for='country') Country: <br />
              input#country.form-control(type='text', value='Canada' name='country') 
            p
              button.btn.btn-primary(type='submit') Get Weather